<div class="container">
  <section class="todoapp">
    <header class="header">
      <h1>{{ title }}</h1>
      <input
        class="new-todo"
        #newTodoInput
        (keyup.enter)="addItem(newTodoInput.value); newTodoInput.value = ''"
        placeholder="What needs to be done?"
        autofocus
      />
    </header>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <input
        id="toggle-all"
        class="toggle-all"
        type="checkbox"
        [checked]="toggleAllBtn"
        (click)="toggleAll()"
      />
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <!-- These are here just to show the structure of the list items -->
        <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
        <li
          *ngFor="let item of nowTodoList; let i = index"
          [class]="{ completed: item.Completed, smallText: item.Completed, editing: item.Editing }"
        >
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              [checked]="item.Completed"
              (click)="clickCheck(item)"
            />
            <label (dblclick)="itemOpenEditModel(item)">{{ item.Thing }}</label>
            <button class="destroy" (click)="clickDelete(item)"></button>
          </div>
          <input
            #editValue
            class="edit"
            *ngIf="item.Editing"
            [value]="item.Thing"
            (keyup.enter)="updateValue(item, editValue.value)"
            (blur)="updateValue(item, editValue.value)"
            (mouseenter)="editValue.focus()"
          />
        </li>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"
        ><strong>{{ todoActiveList.length }}</strong> item left</span
      >
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a
            [class.selected]="nowTodoStatusType === TodoStatusType.ALL"
            (click)="setTodoStatusType(TodoStatusType.ALL)"
            >All</a
          >
        </li>
        <li>
          <a
            [class.selected]="nowTodoStatusType === TodoStatusType.ACTIVE"
            (click)="setTodoStatusType(TodoStatusType.ACTIVE)"
            >Active</a
          >
        </li>
        <li>
          <a
            [class.selected]="nowTodoStatusType === TodoStatusType.COMPELETED"
            (click)="setTodoStatusType(TodoStatusType.COMPELETED)"
            >Completed</a
          >
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button
        class="clear-completed"
        (click)="cleanCompletedItem()"
        *ngIf="todoCompletedList.length > 0"
      >
        Clear completed
      </button>
    </footer>
  </section>
</div>
