/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'boxicons';
  src:
    url('/assets/fonts/boxicons/boxicons.woff2') format('woff2'),
    url('/assets/fonts/boxicons/boxicons.woff') format('woff'),
    url('/assets/fonts/boxicons/boxicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#login .form .inputBlock.error {
  border: 1px solid #eb4752;
}

.errorMessage1 {
  color: #ff4444;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 500;
  white-space: normal;
}

.error-message {
  color: #ff4444;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 500;
  white-space: normal;
}

.form.otherForm .error-message {
  color: #ff4444;
}
