/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'boxicons';
  src:
    url('/assets/fonts/boxicons/boxicons.woff2') format('woff2'),
    url('/assets/fonts/boxicons/boxicons.woff') format('woff'),
    url('/assets/fonts/boxicons/boxicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
