<div class="blog">
  <div class="blog-header blog-is-sticky">
    <div class="blog-article header-article">
      <div class="blog-big_title">Login</div>
      <div class="small-title">Welcome back</div>
    </div>
    <!--註冊-->
    <div class="formContainer">
      <div class="mainContainer">
        <!-- Forgot password form -->
        <div id="forgot" class="form otherForm" [ngClass]="{ toggle: currentForm === 'forgot' }">
          <header>
            <h1>Forgot Password</h1>
            <p>Seems like your password is missing</p>
          </header>
          <section>
            <label>
              <p>Email</p>
              <input type="email" placeholder=" " />
              <div class="border"></div>
            </label>
            <button type="submit">Send email</button>
          </section>
          <footer>
            <button type="button" class="forgotBtn" (click)="showLogin()">Back</button>
          </footer>
        </div>

        <!-- Login form -->
        <div id="login" class="form" [ngClass]="{ toggle: currentForm === 'login' }">
          <section>
            <label>
              <p>Username</p>
              <input type="text" placeholder=" " />
              <div class="border"></div>
            </label>
            <label>
              <p>Password</p>
              <input type="password" placeholder=" " />
              <div class="border"></div>
            </label>
            <button type="submit">Login</button>
          </section>
          <footer>
            <button type="button" class="forgotBtn" (click)="showForget()">Forgot password?</button>
            <button type="button" class="registerBtn" (click)="showRegister()">
              Need an account?
            </button>
          </footer>
        </div>

        <!-- Register form -->
        <div
          id="register"
          class="form otherForm"
          [ngClass]="{ toggle: currentForm === 'register' }"
        >
          <header>
            <h1>Register</h1>
            <!-- <h1>Become a Member</h1> -->
            <p>Register to gain full access</p>
          </header>
          <section>
            <label>
              <p>Username</p>
              <input type="text" placeholder=" " />
              <div class="border"></div>
            </label>
            <label>
              <p>Email</p>
              <input type="email" placeholder=" " />
              <div class="border"></div>
            </label>
            <label>
              <p>Password</p>
              <input type="password" placeholder=" " />
              <div class="border"></div>
            </label>
            <label>
              <p>Repeat Password</p>
              <input type="password" placeholder=" " />
              <div class="border"></div>
            </label>
            <button type="submit">Register</button>
          </section>
          <footer>
            <button type="button" class="registerBtn" (click)="showLogin()">Back</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
