<div class="blog">
  <div class="blog-header blog-is-sticky">
    <div class="blog-article header-article">
      <div class="blog-big_title" [ngSwitch]="currentForm">
        <span *ngSwitchCase="'login'">Login</span>
        <span *ngSwitchCase="'register'">Register</span>
        <span *ngSwitchCase="'forgot'">Forgot password?</span>
      </div>
    </div>
    <div class="formContainer">
      <div class="mainContainer">
        <!-- Forgot password form -->
        <div id="forgot" class="form otherForm" [ngClass]="{ toggle: currentForm === 'forgot' }">
          <label>
            <p>Email</p>
            <input type="email" placeholder=" " />
            <div class="border"></div>
          </label>
          <div class="btnDiv">
            <button class="loginBtn" type="submit">Send email</button>
          </div>
          <footer>
            <button type="button" class="forgotBtn" (click)="showLogin()">Back</button>
          </footer>
        </div>

        <!-- Login form -->
        <div id="login" class="form" [ngClass]="{ toggle: currentForm === 'login' }">
          <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <label>
              <p>Username</p>
              <input type="text" placeholder=" " formControlName="username" />
              <div class="border"></div>
            </label>
            <div
              class="error-message"
              *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
            >
              <ng-container *ngIf="loginForm.get('username')?.errors as errors">
                <div *ngFor="let errMsg of errors['errMsgs']">
                  {{ errMsg }}
                </div>
              </ng-container>
            </div>
            <!-- <label>
            <p>Password</p>
            <input type="password" placeholder=" " />
            <div class="border"></div>
          </label> -->
            <div class="btnDiv">
              <button type="submit" class="loginBtn">Login</button>
            </div>
          </form>
          <footer>
            <button type="button" class="forgotBtn" (click)="showForget()">Forgot password?</button>
            <button type="button" class="registerBtn" (click)="showRegister()">
              Need an account?
            </button>
          </footer>
        </div>

        <!-- Register form -->
        <div
          id="register"
          class="form otherForm"
          [ngClass]="{ toggle: currentForm === 'register' }"
        >
          <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
            <!-- <section> -->
            <label>
              <p>Username</p>
              <input type="text" placeholder=" " formControlName="username" />
              <div class="border"></div>
            </label>
            <div
              class="error-message"
              *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
            >
              Username is required
            </div>
            <label>
              <p>Display Name</p>
              <input type="text" placeholder=" " formControlName="display" />
              <div class="border"></div>
            </label>
            <div
              class="error-message"
              *ngIf="registerForm.get('display')?.invalid && registerForm.get('display')?.touched"
            >
              Display Name is required
            </div>
            <!--FIDO註冊，暫時不須密碼-->
            <!-- <label>
                <p>Password</p>
                <input type="password" placeholder=" " formControlName="password" />
                <div class="border"></div>
              </label>
              <label>
                <p>Repeat Password</p>
                <input type="password" placeholder=" " formControlName="confirmPassword" />
                <div class="border"></div>
              </label> -->
            <div class="error-message" *ngIf="errorMsg && currentForm === 'register'">
              {{ errorMsg }}
            </div>
            <div class="btnDiv">
              <button type="submit" class="loginBtn">Register</button>
            </div>
            <!-- </section> -->
          </form>
          <footer>
            <button type="button" class="registerBtn" (click)="showLogin()">Back</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
