<div class="blog">
  <div class="blog-header blog-is-sticky">
    <div class="blog-article header-article">
      <div class="blog-big_title" [ngSwitch]="currentForm">
        <span *ngSwitchCase="'login'">Login</span>
        <span *ngSwitchCase="'register'">Register</span>
        <span *ngSwitchCase="'forgot'">Forgot password?</span>
      </div>
    </div>
    <!--註冊-->
    <div class="formContainer">
      <div class="mainContainer">
        <!-- Forgot password form -->
        <div id="forgot" class="form otherForm" [ngClass]="{ toggle: currentForm === 'forgot' }">
          <label>
            <p>Email</p>
            <input type="email" placeholder=" " />
            <div class="border"></div>
          </label>
          <div class="btnDiv">
            <button class="loginBtn" type="submit">Send email</button>
          </div>
          <footer>
            <button type="button" class="forgotBtn" (click)="showLogin()">Back</button>
          </footer>
        </div>

        <!-- Login form -->
        <div id="login" class="form" [ngClass]="{ toggle: currentForm === 'login' }">
          <label>
            <p>Username</p>
            <input type="text" placeholder=" " />
            <div class="border"></div>
          </label>
          <label>
            <p>Password</p>
            <input type="password" placeholder=" " />
            <div class="border"></div>
          </label>
          <div class="btnDiv">
            <button class="loginBtn" type="submit">Login</button>
          </div>
          <footer>
            <button type="button" class="forgotBtn" (click)="showForget()">Forgot password?</button>
            <button type="button" class="registerBtn" (click)="showRegister()">
              Need an account?
            </button>
          </footer>
        </div>

        <!-- Register form -->
        <div
          id="register"
          class="form otherForm"
          [ngClass]="{ toggle: currentForm === 'register' }"
        >
          <section>
            <label>
              <p>Username</p>
              <input type="text" placeholder=" " />
              <div class="border"></div>
            </label>
            <label>
              <p>Email</p>
              <input type="email" placeholder=" " />
              <div class="border"></div>
            </label>
            <label>
              <p>Password</p>
              <input type="password" placeholder=" " />
              <div class="border"></div>
            </label>
            <label>
              <p>Repeat Password</p>
              <input type="password" placeholder=" " />
              <div class="border"></div>
            </label>
            <div class="btnDiv">
              <button type="submit" class="loginBtn">Register</button>
            </div>
          </section>
          <footer>
            <button type="button" class="registerBtn" (click)="showLogin()">Back</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
